@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


body {
  background: rgb(24, 24, 24);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

body .wrapper {
  width: 600px;
  margin: auto;
}

body .wrapper-table {
  width: 600px;
  margin: auto;
}

body .wrapper form {
  padding: 0 150px 0 0;
}

body table {
  border-collapse: collapse;
}

body table tr td, body table tr th {
  border: 1px solid #fff;
  padding: 5px;
  
  
}
header{
  background-color: white;
  height: 150px;
}

.doma-logo{
  padding: 20px;
  display: flex;
  width: 500px;
}
.doma-logo{
  padding: 20px;
  display: flex;
  width: 500px;
}

.menu ul{
  display: flex;
  position: absolute;
  top: 60px;
  left: 1000px
}

.menu a{
  font-family: 'Poppins', sans-serif;
  padding: 0px 30px 0px 0px;
  color: rgb(24, 24, 24);
  font-size: 20px;
text-decoration: none;
}


.menu a:hover{
 transition: 0.5s;
  color: rgb(0, 81, 231);
 
}

 table button {
        margin-bottom: 10px;
    }

    body .wrapper form {
        padding: 0;
    }




h2 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: white;
    margin-top: 50px;
    font-size: 20px;
    padding: 30px;
}


form input {
    font-size: 16px;
    display: block;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
    width: 95%;
    height: 40px;
    padding: 5px 10px;
}

form button {
  font-family: 'Poppins', sans-serif;
    width: 64px;
    height: 40px;
    border: none;
    color: #fff;
    background-color: transparent;
    transition: .3s ease;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
   
    border-radius: 5%;
}



button:hover {
  
  transform: scale(1.2);
    color: #fff;
    background-color: rgb(0, 81, 231);
    transition: .3s ease;
}


/* ============ MEU CSS ==================*/

input[type="file"] {
    display: none;
}

label{
    background-color: #fff;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    padding: 6px 20px;
}
