@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
  height: 150px;
}

.doma-logo {
  padding: 20px;
  display: flex;
  width: 500px;
}
.menu ul {
  display: flex;
  position: absolute;
  top: 60px;
  left: 1000px;
}

.menu a {
  font-family: 'Poppins', sans-serif;
  padding: 0px 30px 0px 0px;
  text-decoration: none;
  color: rgb(24, 24, 24);
  font-size: 20px;
}

.menu a:hover {
  transition: 0.5s;
  color: rgb(0, 81, 231);
}

.titulo-index {
  color: white;
  text-align: center;
  padding: 50px;
}

.titulo2-index {
  color: white;
  text-align: center;
  padding: 80px 0 0 0;
}

.sobre-parceria {
  padding: 20px;
  color: white;
  font-size: 16px;
  text-align: center;
}

main {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(24, 24, 24);
  height: calc(200vh - 300px);
  font-size: 30px;
}

/* CARROSSEL */
.swiper {
  width: 70%;
  height: 70%;
}

.swiper-slide {
  width: 500px;
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  padding: 30px 0px 0px 0px;
  background-color: white;
  height: 100px;
}

footer h3 {
  padding: 30px;
  font-family: 'Poppins', sans-serif;
  color: rgb(24, 24, 24);
  font-size: 20px;
  text-align: center;
}

footer h3 a {
  text-decoration: none;
  color: rgb(0, 81, 231);
  transition: 400ms;
}

footer h3 a:hover {
  text-decoration: none;
  color: rgb(0, 64, 184);
  cursor: pointer;
  font-size: 22px;
}

/* */
